h1 {
    color: rgb(2, 44, 44);
    background-color: #a5fdf7;

}

p {
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(6, 86, 121);
}

button {
    color: rgb(0, 0, 0);
    background-color: #e4e3e3;
}

footer {
    background-color: #a5fdf7;
}