h1 {
    color: rgb(1, 29, 29);
    background-color: #0e8880;

}

p {
    color: rgb(87, 4, 4);
}

body {
    background-color: rgb(3, 31, 43);
}

button {
    color: rgb(19, 4, 83);
    background-color: aquamarine;
}

footer {
    background-color: #0e8880;
}